{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset your password {% endblock %}

{% block content %}
<form method="POST">
    <p>Please enter your email address</p>
    {% csrf_token %}
    {{ form.email.errors  }}
    <p>
        <label for="id_email">Email address:</label>
        {{ form.email }}

        <button type="submit" class="btn btn-custom">Reset Password</button>
    </p>
</form>

{% endblock %}