@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.login,
.reg{
    margin-top: 50px;

}

.password_reset {
    margin-top: 50px;
}

.background-image {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 1rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../images/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}



.jumbotron {
    background-color: rgba(243, 239, 239, 0);
    margin-top: 200px;
    text-align: center;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid rgb(68, 52, 52, 0.445);
    padding: 25px;
    margin-top: 30px;
}

.product-name{
    margin-top: 20px;
    margin-bottom: 25px;
}
.product-description {
    min-height: 40px;
    margin-bottom: 30px;
}

.form-control {
    margin-right: 10px;
}

.btn-custom {
    background-color: #64a19d;
}

.btn-custom:hover {
    background-color: #307a75;
}