@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    color: white; 
}

.home_logo {
    text-decoration: none;
    color: white;
}

.caption {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.login,
.reg{
    margin-top: 150px;
}

.reg-log {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.reg-log a{
    color: rgb(185, 151, 39, 1);
}

.password_reset {
    margin-top: 50px;
    width: 50%;
}

.registration {
    margin-top: 50px;
    width: 50%;
}

.forget-password {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.forget-password a {
    color: rgb(185, 151, 39, 1);
}

.background-image {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 1rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../images/home-background.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.watch-home-page {
    text-align: center;
    height: 30%;
    background: url(../images/watch-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -40px;
}

.content-aria {
    margin-top: 50px;
    padding: 25px 25px 25px 25px,
}

hr {
    background-color: #c67605
}

.product-background {
    width: 100%;
    height: 0 auto;
    min-height: 35rem;
    padding: 1rem 0;
    background-color:#ffffff; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: black;
}

.cart-background {
    width: 100%;
    height: 0 auto;
    min-height: 35rem;
    padding: 1rem 0;
    background-color:#ffffff; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: black;
}

.jumbotron {
    background-color: rgba(243, 239, 239, 0);
    text-align: center;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

.input-group-addon {
    padding-right: 10px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    margin-left: 1rem;
    border: 1px solid #ddd;
    border-style: none;
}

.product-name {
    margin-top: 30px;
    margin-bottom: 20px;
}

.product-description {
    min-height: 150px;
}

.form-control {
    margin-right: 10px;
    margin-left: 10px;
}

.add-btn {
    margin-left: 10px;
}

.btn-custom {
    background-color: rgb(185, 151, 39, 1);
    text-align: center;
}

.btn-custom:hover {
    background-color: rgb(134, 106, 11);
}

.total-order {
    text-align: right;
    margin-top: 50px;
}

.total-mod {
    text-align: right;
}

/* FOOTER */

.footer {
    margin-top: 10rem;
}

@media only screen and (max-width: 1024px) {
  .footer {
    position: relative;
    background-color: #000000;
    margin-top: 6rem;
  }
}

.facebook,
.twitter,
.linkedin {
    color: rgb(185, 151, 39, 1);
}

.facebook:hover,
.twitter:hover,
.linkedin:hover {
    color: rgb(134, 106, 11);
}

.footer-links {
    color: rgb(185, 151, 39, 1);
}

.footer-links a {
    color: rgb(185, 151, 39, 1);
}




@media only screen and (min-width: 600px) {
  .jumbotron {
    background-color: rgba(243, 239, 239, 0);
    text-align: center;
  }
}