{% extends 'base.html' %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
        <h1 class="display-3">Luxury Watches</h1>
        <p class="lead">Here you will find your dream watch to an affordable price. We want to make your expierance unforgetable when purchasing your dream watch.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-custom btn-lg" href="{% url 'registration' %}" role="button">Sign Up</a>
        </p>
        </div>
    </div>
</div>
{% endblock %}