{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}{% endblock %}

{% block content %}
<div class="container">
    <div class="login">
        <div class="row">
            <div class="col">
                <form method="POST">
                        {% csrf_token %}
                        {{ login_form | as_bootstrap }}
                        <button type="submit" class="btn btn-custom btn-lg" >Log in</button>
                        </form>
            </div>
        </div>
            
            <hr class="password_reset">

        <div class="col-md-6 forget-password">
            <p>Forgot your password, <a href="{% url 'password_reset' %}">Click Here</a></p> 
        </div>
    </div>
</div>
{% endblock %}