{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap CSS & Own CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!--Javascript-->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% block head_js%}
    {% endblock head_js%}
    <title>The Watch Agent</title>
</head>
<body class="background-image">
            <nav class="navbar navbar-expand-lg navbar-dark">
            <h2>The Watch Agent</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Watches <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}">
                        <i class="fa fa-shopping-cart" style="font-size:24px"></i> cart
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        <div class="row">
                        <label class="badge badge-warning">{{ total }} EUR</label>
                        </div>
                        {% endif %}
                    </a>
                </li>
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-custom my-2 my-sm-0" type="submit">Search</button>
                </form>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Sign up</a>
                </li>
                {% endif %}
                </ul>
                
            </div>
            </nav>
    
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}

            
                    <h1>{% block page_heading %}{% endblock %}</h1>
                  
                    {% block content %}{% endblock %}
        
            
  <!-- Site footer -->
    <footer class="container footer">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <h5>About</h5>
            <p class="text-justify">The Watch Agent is a webiste that provides you with luxury watches in a very smooth way without the long waiting times</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by the owner.
            </p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li class="d-inline"><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline"><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline"><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
     
</footer>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>